<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav>
        <div class="wrapper">
            <div class="logo"><a href=''>BIMBEL ONLINE FAV</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#payment">Payment</a></li>
                    <li><a href="#tutors">Tutors</a></li>
                    <li><a href="#partners">Partners</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <button class="btn"><a href="/data_pelajar/tambah">REGISTRATION</a></button>
        </div>
    </nav>
    
    <div class="wrapper">

         <!--untuk home-->
        <section id="home">
            <img src="https://img.freepik.com/free-vector/online-tutorials-concept_52683-37480.jpg?w=900&t=st=1671333487~exp=1671334087~hmac=c98307b0b76a6cac93a89ab21247a246c69377d15add416fd70bea1a56ff1279"/>
            <div class = "kolom">
                <p class = "deskripsi">Online Course #Stayathome</p>
                <h2>Stay Healthy and Fighting!!!</h2>
                <p>“Think about your favorite book for a moment. How did it make you feel when you read it? Is that part of what made it such a compelling story?”</p>
                <p><a href="" class="tbl-pink ">Learn More</a></p>
            </div>
        </section>

        <!--untuk courses-->
        <section id="courses">
            <div class="kolom">
                <p class="deskripsi">You Will Need this</p>
                <h2>Online Courses</h2>
                <p>We provide the best service for high school students and equivalent, to provide the best understanding to face the college entrance test </p>
                <p>We guarantee 100% money back for students who fail to enter the dream university</p>
                <p><a href="" class="tbl-biru">Learn More</a></p>
            </div>
            <img src = "https://img.freepik.com/free-vector/online-learning-isometric-concept_1284-17947.jpg?w=826&t=st=1671350667~exp=1671351267~hmac=e61e735da4ff034dfb7b17659c194ac6ea99723512609589d5816f9119d5f6e2"/>
        </section>

        <!--untuk payment-->>
        <section id="payment">
            <div class = "kolom">
                <h2 class = "deskripsi">Online Course Payment</h2>
                <h2>There are two payment methods</h2>
                <p>“We accept payments through banks and also Funds”</p>
                <p>Regular classes at 700k that accommodate students and private classes that are priced at 800k that accommodate 5 people</p>
            </div>
            <img src = "https://img.freepik.com/free-vector/e-wallet-concept-illustration_114360-7561.jpg?size=338&ext=jpg&ga=GA1.2.279568006.1671350578&semt=sph"/>
        </section>

        <!--untuk tutors-->
        <section id="tutors">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi"> Our Top Tutors</p>
                    <h2>Tutors</h2>
                    <p>Below are the top tutors under our online tutoring, who are experienced in their respective fields, and are educated at top global universities</p>
                </div>

                <div class="tutor-list">
                    <div class="kartu-tutor">
                        <img src="https://assets.pikiran-rakyat.com/crop/0x192:717x902/x/photo/2020/07/30/1149660184.png"/>
                        <p>Muhammad Akim</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://i.pinimg.com/736x/dd/62/c9/dd62c93ab2002cd30e7a176e03863a31.jpg"/>
                        <p>Ahmad Supriyanto</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://img.wattpad.com/62c9bb55a1f020a9664ce2dffad8a18743512df9/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f79537a3675613554697a2d4535413d3d2d3836363735353935362e313630366663346264646331363735353434333030393833343430392e6a7067"/>
                        <p>Fahruzi Amin</p>
                    </div>
                </div>
            </div>
        </section>

        <!--untuk partners-->
        <section id="partners">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">Our Top Partners</p>
                    <h2>Partners</h2>
                    <p>we work closely with some of the top global universities and top universities in Indonesia.</p>
                </div>

                <div class="partner-list">
                    <div class="kartu-partner">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmvxugb-tDaOi6F2-TrMXfLLlL8rfFAF667MbgAgpvVAktKSqWPfSAXUVTFajoZBinEVE&usqp=CAU"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://i.pinimg.com/originals/73/99/49/7399495cacf42f0b49f55a73e0761815.jpg"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp1vMYU5A4a4mESh9eyt_eEJWawlCcA_Agwbxk_n-wwFbWBqsQRRijnvZo9rI4uiWyi1w&usqp=CAU"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://dti.itb.ac.id/wp-content/uploads/2020/11/logo_itb_1024_bw.png"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://cdn-asset.jawapos.com/wp-content/uploads/2020/06/logo-unair-unair.ac_.id_.jpg"/>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div id="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>BimbelFAV</h3>
                    <p>This online course was founded by three graduates from the top 3 global universities, the first Alif Essa Nurcahyani from Harvard University, the second Fathiya Salsabila from Stanford University, and the third Alvyonita christy from Oxford University. the trio founded this online course since 2018 and inaugurated it under the name FAV.</p>
                </div>
                <div class="footer-section">
                    <h3>Address</h3>
                    <p>Jl.Rawamangun Muka, RT.11/RW.14, Rawamangun, Pulo Gadung, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta </p>
                    <p>Kode Pos : 13220</p>
                </div>
                <div class="footer-section">
                    <h3>Contact</h3>
                    <p>085172041077</p>
                    <p>082150444467</p>
                    <p>08215228307</p>
                </div>
                <div class="footer-section">
                    <h3>Social</h3>
                    <p><b>YouTube: </b>BimbelOnlineFAV</p>
                    <p><b>Instagram: </b>BimbelOnline_FAV</p>
                    <p><b>Email: </b>BimbelOnlineFAV@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2022. <b>bimbelonline</b> All Rights Reserved.
        </div>
    </div>

</body>
</html>
